.edit-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 0.5em;
    border: 3px solid red;
    border-radius: 1em;
    padding: 0.5em;
    width: 80%;
    margin: 2em 10%;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(184, 184, 184);
}

.edit-block > b {
    font-size: 1.25em;
}

.edit-block > form{
    display: inline-block;
    min-width: 300px;
}

.edit-block > form > input{
    width: 50%;
    padding: 0 0.5em;
    line-height: 2.5em;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: monospace;
    font-size: 12px;
    float: left;
}

.edit-block > form > button {
    background-color: #fff;
    color: #000;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    padding: 0.25em 1em;
    line-height: 1em;
    user-select: none;
    font-size: 12px;
    min-height: calc(2.5em + 2px);
    width: 50%;
    float: left;
}

.edit-block > form > button:hover{
    background-color: greenyellow;
}

.error-msg {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}