.main-menu{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1em;
    width: 80%;
    margin: 2em 10%;
    font-size: 14px;
}

.main-menu > .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.main-menu > .header  a{
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 0 1em;
    line-height: 1.5em;
    display: inline-block;
    word-spacing: -0.25em;
    user-select: none;
    background-color: #fff;
}
.main-menu > .header  a:hover{
    background-color: rgba(220, 20, 20, 0.7);
}

.main-menu > .header > .login{
    display:flex;
    gap: 10px;
    align-items: center;
}

.main-menu > .main-menu-links {
    display: flex;
    gap: 1em;
}

.main-menu > .main-menu-links > a{
    color: #000;
    text-decoration: none;
    border: 1px solid #00000054;
    padding: 0.75em 2em;
    border-radius: 7px;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    user-select: none;
    background-color: #fff;
}

.main-menu > .main-menu-links > a:hover{
    background-color: #00000044;
}

.main-menu > .main-menu-links > .here-rn,
.main-menu > .main-menu-links > .here-rn:hover {
    background-color: greenyellow;
}
