/* base */
@import '../base/base.css';
/* components */

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.login {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1em;
    width: 80%;
    margin: 2em 10%;
    font-size: 16px;
    align-items: center;
}

.login > form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap: 0.5em;

}
.login > form > input,
.login > form > button {
    text-align: center;
    border: 1px solid #000;
    line-height: 2em;
    font-family: monospace;
    background-color: #fff;
}
.login > form > input:first-of-type{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.login > form > button {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.login > form > button:hover {
    background-color: greenyellow;
}

.login > div{
    text-decoration: underline red;
}