/* base */
@import '../base/base.css';
/* components */
@import '../components/main-menu.css';
/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.new-client-box{
    
}

.new-client-box > form {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 0.5em;
    width: 80%;
    margin: 2em 10%;
    align-items: center;
    position: relative;
    background-color: red;
    border: 3px solid blue;
    border-radius: 1em;
    padding: 0.5em;
    background-color: rgb(184, 184, 184);
}
.error-message{
    position: absolute;
    right: 0;
    width: calc(100%/1.8);
    padding-left: 0.5em;
    text-decoration: underline red;
}

.err-name {
    top: 2.15em;
}

.err-surname {
    top: 4.1em;
}

.err-id {
    top: 7.8em;
}

.new-client-box > form > label {
    font-weight: bold;
    font-size: 1.25em;
}

.new-client-box > form > input {
    width: 100%;
}

.new-client-box > form > button {
    background-color: #fff;
    color: #000;
    font-family: monospace;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.75em 2em;
    line-height: 1em;
    user-select: none;
    font-size: 12px;
    display: inline-block;
}

.new-client-box > form > button:hover{
    background-color: greenyellow;
}