/* base */
@import '../base/base.css';
/* components */

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.client-list {
    list-style-type: none;
    width: 80%;
    margin: 2em 10%;
}

.client-list > .client-list-item {
    border: 1px solid greenyellow;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    justify-items: center;
    border-bottom: none;
}

.client-list > .client-list-item:last-child {
    border-bottom: 1px solid greenyellow;
}

.client-list > .client-list-item > button {
    width: 100%;
}

.delete-popup {
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(50vh - 5em) calc(50% - 175px);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: aquamarine;
}
.delete-popup.not-delete {
    background-color: rgb(190, 190, 124);
}